* {
  text-align: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  background: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
  height: 100%;
  margin: 0;
}
.container {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items,
.itemsrules {
  width: 300px;
  background-color: #283e50;
  border-radius: 10px 10px 0px 0px;
}
@media only screen and (min-width: 768px) {
  .itemsrules {
    width: 700px;
  }
}
.items > img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  font-weight: 400;
}
p {
  margin: 0px 20px 30px 20px;
  line-height: 25px;
}
a {
  display: block;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
}
.pravidla {
  background: #1fcca4;
  border-bottom: solid #283e50 1px;
}
.pravidla:hover {
  background: #1cbb96;
}
.hrat {
  background: #0197f6;
}
.hrat:hover {
  background: #0090e9;
}
/* pravidla */
.rules {
  margin: 20px;
  padding-left: 20px;
}
@media only screen and (min-width: 768px) {
  .rules {
    margin: 35px;
  }
}
.rules li {
  padding-bottom: 10px;
  text-align: left;
  line-height: 25px;
}
.inlineimg {
  filter: invert(100%);
  width: 1em;
  height: 1em;
}
.instructions {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.instructions figure {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .instructions {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
  }
  .instructions figure {
    flex: 1 1 45%;
    margin: 10px;
  }
}
.instructions img {
  width: 100%;
}
.instructions figcaption {
  font-size: 15px;
  font-style: italic;
  line-height: 15px;
  margin: 10px 0px 30px 0px;
}
@media only screen and (min-width: 768px) {
  .instructions figcaption {
    font-size: 12px;
  }
}
