* {
  text-align: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  margin: 0;
  background: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
  min-height: 100vh;
}
.container {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items,
.itemsrules {
  width: 300px;
  background-color: #283e50;
  border-radius: 10px 10px 0px 0px;
}
@media only screen and (min-width: 768px) {
  .itemsrules {
    width: 700px;
  }
}
.items > img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  font-weight: 400;
}
p {
  margin: 0px 20px 30px 20px;
  line-height: 25px;
}
a {
  display: block;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
}
.pravidla {
  background-color: #1fcca4;
  border-bottom: solid #283e50 1px;
}
.pravidla:hover {
  background-color: #1cbb96;
}
.pravidla:focus {
  background-color: #1cbb96;
}
.hrat {
  background-color: #0197f6;
}
.hrat:hover {
  background-color: #0090e9;
}
.hrat:focus {
  background-color: #0090e9;
}
/* pravidla */
.rules {
  margin: 20px;
  padding-left: 20px;
}
@media only screen and (min-width: 768px) {
  .rules {
    margin: 35px;
  }
}
.rules li {
  padding-bottom: 10px;
  text-align: left;
  line-height: 25px;
}
.white {
  display: inline;
  filter: invert(100%);
  transform: translateY(15px);
  margin: 0;

  padding: 10px 20px 10px 20px;
}
.instructions {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.instructions figure {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .instructions {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
  }
  .instructions figure {
    flex: 1 1 45%;
    margin: 10px;
  }
}
.instructions img {
  width: 100%;
}
.instructions figcaption {
  font-size: 15px;
  font-style: italic;
  line-height: 15px;
  margin: 10px 0px 30px 0px;
}
@media only screen and (min-width: 768px) {
  .instructions figcaption {
    font-size: 12px;
  }
}
/* hra.html */
.container_hra {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 80vmin;
  margin: auto;
}
.game_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.hraje-a-ikonky {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-height: 50px;
  width: 100%;
}
.hraje {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}
.ikonky {
  display: flex;
}
.home,
.restart {
  padding: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.home {
  background-color: #1fcca4;
  margin-right: 10px;
}
.home:hover {
  background-color: #1cbb96;
}
.home:focus {
  background-color: #1cbb96;
}
.restart {
  background-color: #0197f6;
}
.restart:hover {
  background-color: #0090e9;
}
.restart:focus {
  background-color: #0090e9;
}
/* buttons */
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  border: 1px solid rgb(44, 34, 44);
  margin-bottom: 40px;
}
button {
  padding: 0;
  position: relative;
  width: 10%;
  height: 0;
  padding-bottom: 10%;
  border: 1px solid rgb(44, 34, 44);
  border-radius: 0;
  opacity: 0.5;
}
button:hover {
  opacity: 0.8;
}
button:focus {
  opacity: 0.8;
}
button:active {
  opacity: 1;
}
/* třídy pro javascript */

.board__field--circle {
  background-image: url('img/circle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  opacity: 1;
}
.board__field--cross {
  background-image: url('img/cross.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  opacity: 1;
}
